@media only screen and (min-width: 401px) and (max-width: 991px) {
    body {
        font-family: 'Quicksand', sans-serif;
        overflow-x: hidden;
    }
    
    .top-bar {
        position: fixed;
        transition: 0.5s;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 0.875rem;
        margin-top: -10px;
        background-color: #5f4dee;
        padding: 25px 25px;
        margin-left: -20px;
        width: 100%;
        z-index: 1;
    }

    .top-bar img {
        margin-top: -14px;
        margin-left: 25px;
    }
    
    .menuToggle {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .menuToggle .checkbox-icon .nav_checkbox {
        float: right;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 50px;
        cursor: pointer;
    }

    .menuToggle input[type="checkbox"] {
        display: none;
    }

    .menuToggle .menu-transform {
        display: block;
        width: 100%;
        transform: translateX(100%);
        transition: all .5s;
    }

    .menuToggle .menu-transform #menu-background {
        margin-top: 80px;
        background-color: #5f4dee;
        height: 1000px;
        width: 991px;
        margin-left: -3%;
    }

    .menu-transform #menu-background .menu-mobile-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-transform #menu-background .menu-mobile-content li {
        list-style: none;
        margin-left: -10px;
        margin-bottom: 20px;
    }

    .menu-transform #menu-background .menu-mobile-content a:hover {
        color: white;
    }

    .menu-transform #menu-background .menu-mobile-content a {
        text-decoration: none;
        color: #dadfe2;
    }

    #nav_checkbox:checked ~ .menu-transform{
        transform: translateX(0%);
    }

    .top-buttons {
        display: none;
    }

    .list-buttons {
        position: relative;
        display: none;
    }
    
    .drop-button {
        background-color: #5f4dee;
        margin-left: -12px;
        font-size: 16px;
        color: #dadfe2;
        border: none;
    }

    .drop-button:hover {
        color: white;
    }
    
    .list-buttons a {
        color: #dadfe2;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .list-buttons a:hover {
        color: white;
    }
    
    .drop-button:hover ~ .list-buttons {
        display: block;
    }
    
    .login-button {
        margin-top: 14px;
        margin-left: -10px;
        border-radius: 30px;
        border-color: white;
        color: #dadfe2;
        width: 100px;
        height: 36px;
        background-color: #5f4dee;
        font-weight: 600;
    }
    
    .login-button:hover {
        background-color: white;
        color: #5f4dee;
    }
    
    .background-bar {
        background-color: #5f4dee;
        margin-left: -25px;
        margin-right: -25px;
        height: 920px;
        text-align: center;
    }
    
    .background-bar .initial-bar {
        display: inline;
    }
    
    .header-image {
        width: 80%;
        margin-top: 55px;
        text-align: center;
    }
    
    .background-text-header {
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .background-text-header .header-text-title {
        color: white;
        font-size: 3.5re;
        font-weight: 700;
    }
    
    .background-text-header .header-text {
        color: white;
        font-size: 18px;
        margin: 0px 0px 38px;
        font-weight: 500;
        word-spacing: 1px;
        letter-spacing: 0.3px;
    }
    
    .background-buttons-header {
        margin-top: 35px;
    }
    
    .background-buttons-header button {
        border-radius: 50px;
        border-color: white;
        width: 140px;
        height: 50px;
        font-size: 14px;
        font-weight: 600;
    }
    
    .background-buttons-header .discover-button {
        color: #5f4dee;
        background-color: white;
    }
    
    .background-buttons-header .discover-button:hover {
        color: white;
        background-color: #5f4dee;
    }
    
    .background-buttons-header .signup-button {
        color: white;
        background-color: #5f4dee;
        margin-left: 10px;
    }
    
    .background-buttons-header .signup-button:hover {
        color: #5f4dee;
        background-color: white;
    }
    
    .second-header-text {
        margin-top: 100px;
        margin-left: 7%;
        margin-right: 7%;
    }
    
    .second-header-text .description-text {
        font-size: 14px;
        color: #5f4dee;
        font-family: "Open Sans", sans-serif;
        text-align: center;
    }
    
    .second-header-text .header-title {
        margin-top: -19px;
        text-align: center;
        color: #2F363B;
        font-size: 34px;
    }
    
    .announce-container {
        display: inline;
        text-align: center;
        margin-top: 50px;
    }

    .announce-container .card {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 65px;
    }
    
    .announce-container img {
        width: 25%;
        margin-top: auto;
        margin-bottom: 40px;
    }
    
    .announce-container .label-title {
        font-size: 20px;
        font-style: "Open Sans", sans-serif;
        color: #2F363B;
        font-weight: 600;
    }
    
    .announce-container .label-content {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        color: #6B747B;
    }
    
    .market-automation {
        margin-top: 140px;
        text-align: center;
        background-color: #f5f6fb;
    }
    
    .market-automation .market-features {
        color: #5f4dee;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
    }
    
    .market-automation .market-title {
        color: #2F363B;
        font-size: 34px;
        font-family: "Open Sans", sans-serif;
        margin: 0px 183px 12px;
    }
    
    .market-automation .market-content {
        color: #6b747b;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        margin: 0px 145px 50x;
    }
    
    footer{
        position: unset;
        background-color: #5f4dee;
        width: auto;
        height: auto;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: -20px;
    }
    
    footer .card-footer {
        display: inline-block;
        text-align: left;
        margin-left: 60px;
        margin-right: 40px;
    }

    footer .card-footer .card {
        margin-bottom: 40px;
    }
    
    footer .card-footer .card-title {
        font-size: 16px;
        color: #e2e1e8;
        font-family: "Open Sans", sans-serif;
        margin: 0px 0px 10px;
    }
    
    footer .card-footer .card-content {
        font-size: 14px;
        color: #e2e1e8;
        font-family: "Open Sans", sans-serif;
        margin: 0px 0px 6px;
    }
    
    footer .copyright {
        font-size: 14px;
        color: #e2e1e8;
        font-family: "Open Sans", sans-serif;
        margin: 0px 0px 16px;
        text-align: center;
    }
    
    footer a {
        font-size: 14px;
        color: #e2e1e8;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
    }

    .modal-topbar input {
        width: 60%;
    }
}