body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

.top-bar {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.875rem;
    margin-top: -10px;
    background-color: #5f4dee;
    padding: 25px 25px;
    margin-left: -20px;
    width: 100%;
}

.top-bar img {
    margin-left: 20px;
}

.top-buttons {
    float: right;
    margin-top: 10px;
    margin-right: 62px;
    color: #dadfe2;
}

.top-buttons a {
    color: #dadfe2;
    text-decoration: none;
    padding: 7px;
}

.list-buttons {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: #5f4dee;
    padding: 7px;
    border: none;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #5f4dee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: #dadfe2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    color: white;
}

.list-buttons:hover .drop-content {
    display: block;
}

.list-buttons:hover .drop-button {
}

.login-button {
    margin-left: 21px;
    border-radius: 30px;
    border-color: white;
    color: #dadfe2;
    width: 90px;
    height: 30px;
    background-color: #5f4dee;
    font-weight: 600;
}

.login-button:hover {
    background-color: white;
}

.background-bar {
    background-color: #5f4dee;
    margin-left: -25px;
    margin-right: -25px;
    height: 630px;
}

.header-image {
    float: right;
    transform: rotate(2deg);
    width: 680px;
    margin-top: 140px;
    margin-right: -80px;
}

.background-text-header {
    float: right;
    margin-top: 200px;
    margin-right: 11%;
}

.background-text-header .header-text-title {
    color: white;
    font-size: 3.5rem;
    line-height: 4.375rem;
    margin: 0px 0px 16px;
    font-weight: 700;
}

.background-text-header .header-text {
    color: white;
    font-size: 18px;
    margin: 0px 0px 38px;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

.background-buttons-header {
    margin-top: 35px;
}

.background-buttons-header button {
    border-radius: 50px;
    border-color: white;
    width: 140px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
}

.background-buttons-header .discover-button {
    color: #5f4dee;
    background-color: white;
}

.background-buttons-header .discover-button:hover {
    color: white;
    background-color: #5f4dee;
}

.background-buttons-header .signup-button {
    color: white;
    background-color: #5f4dee;
    margin-left: 10px;
}

.background-buttons-header .signup-button:hover {
    color: #5f4dee;
    background-color: white;
}

.second-header-text {
    margin-top: 100px;
    margin-left: 0%;
}

.second-header-text .description-text {
    font-size: 14px;
    color: #5f4dee;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.second-header-text .header-title {
    margin-top: -19px;
    text-align: center;
    color: #2F363B;
    font-size: 34px;
}

.announce-container {
    text-align: center;
    margin-top: 50px;
}

.announce-container .list {
    list-style: none;
}

.announce-container img {
    width: 16%;
}

.announce-container .img1 {
    margin-right: 200px;
}

.announce-container .img3 {
    margin-left: 30%;
}

.announce-container .list-subtitle {
    list-style: none;
    margin-top: 60px;
}

.announce-container .list-subtitle label {
    font-size: 20px;
    font-style: "Open Sans", sans-serif;
    color: #2F363B;
    font-weight: 600;
}

.announce-container .label1 {
    margin-right: 200px;
}

.announce-container .label3 {
    margin-left: 200px;
}